<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Sistema de Advocacia</strong> © 2026
            <br>
            Desenvolvido por <strong>Heitor e Thamires</strong>
            <br>
        </p>
    </div>
</footer>

<style>
.footer {
    background-color: #f5f6fa;;
}
</style>